@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.download_btn:hover span {
  display: inline-block;
}
.circle_icon:hover > img {
  transform: rotate(180deg);
  color: gray;
  opacity: 1;
}
.circle_icon:hover > h1 > svg {
  color: #84cc22;
}

.inset_card_shadow:hover {
  box-shadow: inset 0 0 3px #7e7d7d !important;
  transition: box-shadow ease-in-out 0.5s;
  /* border: inset 5px white; */
}
.project_card:hover .project_card_overlay {
  height: 100%;
  opacity: 0.5;
}
.project_card:hover img {
  transform: scale(105%);
  transition: all ease-in-out 0.5s;
}

.project_card:hover .card_text {
  opacity: 1;
  transition: all ease-in-out 0.5s;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d1d1d1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

._75vh {
  min-height: 75vh;
}

.blog_label_hidden span {
  display: none;
}
.custom_radius > div {
  border-radius: 15px;
}

/* preview editor  */
.preview_editor_text pre {
  background-color: black;
  color: white;
  border-radius: 7px !important;
  padding: 5px !important;
  overflow: auto;
  width: auto;
}
/* .ql-snow a {
    color: #06c;
} */

.dark .preview_editor_text.preview_editor_text code {
  background-color: #555 !important;
  /* color: black !important; */
}
